@media (max-width: 992px) 
{
    nav#navigation.ouvert { width: 70%!important; }
    nav#navigation div#entete button 
    {
        font-size: 2.5rem!important;
        margin-top: 0!important;
    }
    main#page div#menu div#acces-rapides div.acces-rapide div.icone { font-size: 2.5rem!important; }
    main#page div#menu div#acces-rapides.moins { height: 4.75rem!important; }
    main#page div#menu div#acces-rapides.plus { height: 13rem!important; }
}

@media (max-width: 768px)
{
    nav#navigation.ouvert { width: 100%!important; }
    nav#navigation div#entete button 
    {
        font-size: 2.5rem!important;
        margin-top: -0.6rem!important;
    }
    main#page header div#logo { display: none; }   
    nav#navigation div#menu { height: 80vh!important; }
    main#page header div#actions { margin-left: .5rem; }
    main#page div#menu div#acces-rapides div.acces-rapide div.icone { font-size: 2.5rem!important; }
    main#page div#menu div#acces-rapides.moins { height: 5rem!important; }
    main#page div#menu div#acces-rapides.plus { height: 27.5rem!important; }
}
@media (min-width: 768px)
{
    main#page header div#logo-mobile { display: none; }
}