@import 'action.css';

/* PRINCIPAL */
body
{
    margin: 0!important;
    padding: 0!important;
}

/* NAVIGATION */
nav#navigation
{
    position: absolute;
    z-index: 2;
    height: 100vh;
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
}
nav#navigation.ferme
{
    width: 0px;
    visibility: collapse;
    transition: all 0.14s ease-out;
}
nav#navigation.ouvert
{
    width: 20%;
    visibility: visible;
    transition: all 0.14s ease-in;
}

/* PAGE */
main#page
{
    background-color: var(--idb-fond);
    color: var(--idb-texte);
    height: 100vh;
    transition: all 0.2s ease-out;
}
main#page.obscur
{
    transition: all 0.2s ease-in;
}