@import 'action.css';
@import 'responsive.css';

/* PRINCIPAL */
* { user-select: none; }
body
{
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
}
button.btn
{ 
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
    min-width: 100%!important;
    transition: all 0.2s ease-in;
}
button.btn:hover 
{ 
    background-color: var(--idb-nav-texte);
    color: var(--idb-nav-fond);
    transition: all 0.2s ease-out;
}

/* NAVIGATION */
nav#navigation
{
    position: absolute;
    z-index: 2;
    height: 100vh;
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
}
nav#navigation.ferme
{ width: 0px; }
nav#navigation.ouvert
{ width: 35%; }
nav#navigation.ouvert div.container-fluid
{
    opacity: 100%;
    transition: all 0.3s ease-in;
}
nav#navigation.ferme div.container-fluid
{ 
    opacity: 0%;
    transition: all 0.1s ease-out;
}
nav#navigation div#entete button
{
    font-size: 2rem;
    box-shadow: none;
    overflow: visible;
    margin-top: -0.3rem;
}
nav#navigation div#entete button:hover
{ 
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
    font-size: 2.2rem;
    margin-top: -0.4rem;
}
nav#navigation div#menu
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
    scrollbar-color: var(--idb-nav-texte) rgba(0,0,0,0);
    scrollbar-width: thin;
}
nav#navigation div#menu::-webkit-scrollbar
{
    width: 0.5rem;
    background-color: var(--idb-nav-fond);
}
nav#navigation div#menu::-webkit-scrollbar-button
{ background-color: rgba(0,0,0,0); height: 0; }
nav#navigation div#menu::-webkit-scrollbar-thumb
{ background-color: var(--idb-nav-texte); border-radius: 0.25rem; } 

nav#navigation div#menu button
{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}
nav#navigation div#menu div.sous-menu button
{
    font-size: 1rem;
    margin-bottom: 0.15rem;
}
nav#navigation div#menu div.sous-menu.ouvert-v
{
    opacity: 100%;
}
nav#navigation div#menu div.sous-menu.ferme-v
{ 
    height: 0;
    opacity: 0%;
    margin: 0!important;
    visibility: hidden;
}
nav#navigation div#pied a
{
    color: var(--idb-nav-texte);
    font-size: 2.3rem;
    transition: all 0.2s ease-in;
}
nav#navigation div#pied a:hover
{
    font-size: 2.5rem;
    transition: all 0.2s ease-out;
}



/* PAGE */
main#page
{
    background-color: var(--idb-fond);
    color: var(--idb-texte);
    height: 100vh;
    transition: all 0.2s ease-out;
    overflow-x: auto;
}