@import 'action.css';
@import 'responsive.css';

/* PRINCIPAL */
* { user-select: none; }
p, span, a,
h1, h2, h3, h4, h5, h6
{ user-select: text; }
body
{
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
    background-color: var(--idb-fond);
    color: var(--idb-texte);
}
button.btn
{
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
    min-width: 100%!important;
    transition: all 0.2s ease-in;
}
button.btn:hover,
button.btn:focus,
button.btn:active
{
    background-color: var(--idb-nav-texte);
    color: var(--idb-nav-fond);
    transition: all 0.2s ease-out;
}

/* NAVIGATION */
nav#navigation
{
    position: absolute;
    z-index: 2;
    height: 100vh;
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
}
nav#navigation.ferme
{ width: 0px; }
nav#navigation.ouvert
{ width: 35%; }
nav#navigation.ouvert div.container-fluid
{
    opacity: 100%;
    transition: all 0.3s ease-in;
}
nav#navigation.ferme div.container-fluid
{
    opacity: 0%;
    transition: all 0.1s ease-out;
}
nav#navigation div#entete button
{
    font-size: 2rem;
    box-shadow: none;
    overflow: visible;
    margin-top: -0.3rem;
}
nav#navigation div#entete button:hover
{
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
    font-size: 2.2rem;
    margin-top: -0.4rem;
}
nav#navigation div#menu
{
    width: 100%;
    height: 75vh;
    margin: 0.3rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--idb-nav-texte) rgba(0,0,0,0);
    scrollbar-width: thin;
}
nav#navigation div#menu::-webkit-scrollbar
{
    width: 0.5rem;
    background-color: var(--idb-nav-fond);
}
nav#navigation div#menu::-webkit-scrollbar-button
{ background-color: rgba(0,0,0,0); height: 0; }
nav#navigation div#menu::-webkit-scrollbar-thumb
{ background-color: var(--idb-nav-texte); border-radius: 0.25rem; }

nav#navigation div#menu button
{
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
nav#navigation div#menu div.sous-menu button
{
    font-size: 0.9rem;
    margin-bottom: 0.15rem;
}
nav#navigation div#menu div.sous-menu.ouvert-v
{
    opacity: 100%;
    margin-top: -0.15rem!important;
}
nav#navigation div#menu div.sous-menu.ferme-v
{
    height: 0;
    opacity: 0%;
    margin: 0!important;
    visibility: hidden;
}
nav#navigation div#pied
{ margin-top: -0.3rem; }
nav#navigation div#pied a
{
    color: var(--idb-nav-texte);
    font-size: 2rem;
    transition: all 0.2s ease-in;
}
nav#navigation div#pied a:hover
{
    font-size: 2.2rem;
    transition: all 0.2s ease-out;
}

/* FOND */
div#fond
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;    
    background-image: url('../img/fond.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* PAGE */
main#page header, main#page footer { overflow-x: hidden; }
main#page
{
    background-color: var(--idb-fond);
    color: var(--idb-texte);
    height: 100vh;
    overflow: auto;
    transition: all 0.2s ease-out;
    scrollbar-color: var(--idb-nav-texte) var(--idb-nav-fond);
    scrollbar-width: thin;
}
main#page::-webkit-scrollbar
{
    width: 0.5rem;
    background-color: var(--idb-nav-fond);
}
main#page::-webkit-scrollbar-button
{ background-color: var(--idb-nav-fond); height: 0; }
main#page::-webkit-scrollbar-thumb
{ background-color: var(--idb-nav-texte); border-radius: 0.25rem; }

/* UNE */
main#page div#en-avant
{
    min-height: 5rem;
}
main#page div#en-avant div#menu
{
    background-color: var(--idb-nav-fond);
    color: var(--idb-nav-texte);
    padding: 1.25rem 0.5rem 1.25rem 1.5rem;
    margin-bottom: 2.75rem;
    border-radius: 0.7rem;
    overflow: hidden;
}
main#page div#menu div#acces-rapides 
{
    margin: 1.5rem 2rem 0 1rem;
    transition: all 0.2s ease-in;
}
main#page div#menu div#acces-rapides.moins { height: 7.75rem; }
main#page div#menu div#acces-rapides.plus 
{
    height: 17.5rem;
    transition: all 0.2s ease-out;
}
main#page div#menu div#acces-rapides div.acces-rapide
{
    border-radius: .5rem;
    margin-bottom: 1.75rem;
    transition: all 0.1s ease-in;
}
main#page div#menu div#plus
{
    margin-left: 45%;
    width: 10%;
    font-size: 1.5rem;
    position: relative;
    bottom: -1.15rem;
    border-radius: 0.75rem;
    transition: all 0.2s ease-in;
}
main#page div#menu div#plus.plus i { transform: rotate(0deg); transition: all 0.2s ease-in; }
main#page div#menu div#plus.moins i { transform: rotate(180deg); transition: all 0.2s ease-out; }

main#page div#menu div#plus:hover,
main#page div#menu div#plus:focus,
main#page div#menu div#plus:active
{
    background-color: var(--idb-nav-texte);
    color: var(--idb-nav-fond);
    transition: all 0.2s ease-out;
}
main#page div#menu div#plus:hover,
main#page div#menu div#plus:focus,
main#page div#menu div#plus:active
{ cursor: pointer; }
main#page div#menu div#acces-rapides div.acces-rapide div.icone { font-size: 4rem; }
main#page div#menu div#acces-rapides div.acces-rapide:hover,
main#page div#menu div#acces-rapides div.acces-rapide:focus,
main#page div#menu div#acces-rapides div.acces-rapide:active
{
    cursor: pointer;
    background-color: var(--idb-nav-texte);
    color: var(--idb-nav-fond);
    transition: all 0.1s ease-out;
}

/* CONTENU */
main#page div#contenu
{
    padding: 1rem 1.5rem 2.5rem 3rem;
    position: relative;
    z-index: 1;
}


/* EN TETE */
main#page header div#actions
{
    position: absolute;
    padding: 0.5rem 2.5rem 0 .5rem;
    z-index: 3;
}
main#page header div#actions.nav-fermee
{
    top: 0;
    transition: top 0.1s ease-in;
}
main#page header div#actions.nav-ouverte
{
    top: -4rem;
    transition: top 0.1s ease-out;
}
main#page header div#logo, main#page header div#logo-mobile
{ cursor: pointer; }
main#page header div#logo img { width: 12rem; }
main#page header div#logo-mobile img {width: 14rem;}
main#page header div#logo-mobile { margin-top: 4.5rem; }

/* PIED */
footer
{
    color: var(--idb-nav-texte);
    background-color: var(--idb-nav-fond);
    font-size: 0.8rem;
    padding: 2rem 0 1.5rem;
}
footer div#logos div figure { margin: 0; }
footer div#logos div figure img 
{
    width: 5rem;
    transition: all 0.2s ease-in;
}
footer div#logos div figure:hover img 
{
    transform: scale(1.05);
    transition: all 0.2s ease-out;
}
footer div#logos div#departement figure img
{
    width: 15rem;
    margin-top: 1rem;
    filter: contrast(1.0);
}
footer div#credits
{
    font-size: 0.7rem;
    margin-top: 1rem;
}
footer div#credits p { margin-bottom: 0.2rem; }