:root
{
    --idb-fond: rgb(238, 238, 238);
    --idb-texte: rgb(32, 32, 32);
    --idb-nav-fond: rgb(32, 32, 32);
    --idb-nav-texte: rgb(238, 238, 238);
}

.degrade-fond
{ background: linear-gradient(0deg, var(--idb-fond) 0%, var(--idb-fond) 21%, rgba(255,255,255,0) 100%)!important; }
.degrade-fond-inverse
{ background: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--idb-fond) 79%, var(--idb-fond) 100%)!important; }

.plein { background-color: var(--idb-fond)!important; }
.vide { background-color: rgba(255,255,255,0)!important; }